<h1>Funding Confirmation:</h1>
<h4>Amount:<%= @relationship.amount %></h4><br>

<h4>Funding From: <%= @relationship.funder.name %></h4><br>

<h4>Funding to: <%= @relationship.funded.name %></h4><br>

<h4>Funded User Wepay_Id: <%= @relationship.funded.wepay_id %></h4><br>

<h4>Funded User Wepay_Token: <%= @relationship.funded.wepay_token %></h4><br>

<h4>Wepay Checkout ID: <%= @relationship.checkout_id %></h4><br>

<h4>Wepay Checkout URI: <%= @relationship.checkout_uri %></h4><br>


