<%= image_tag gift.image.url(:medium) %>
<h3> Gift Name: </h3>
<h2><%= gift.name %></h2>

<h3> Gift Price: </h3>
<h2>$<%= gift.price %></h2>

<h3> Gift Description: </h3>
<h2><%= gift.description %></h2>

<h3> Amount to Give: </h3>
<h2><%= gift.count %></h2>


 