<h3><%= link_to campaign.coop_name, campaign %></h3>
<%= image_tag campaign.image.url(:medium) %>
<h3><%= campaign.short_description%></h3>
<p><%= campaign.category %></p>


<section>
<% @user = campaign.user %>
<% @relationships = @user.relationships %>
<% @total_given = @relationships.sum(:amount) %>
<% @needed_for_goal = campaign.request - @total_given %>
<% @fundining_percentage = (@total_given/campaign.request)*100 %>



<div class="">
  <a href="<%= funding_user_path(@user) %>">
    <strong id="funding" class="stat">
    
    </strong>

    Total Given: <%= @total_given %> <br>
    Percentage Given: <%= @fundining_percentage %>% <br> 
  <%= progress_bar(@fundining_percentage, :color => 'blue', :rounded => true) %>  <br>
   Time Left: <br>
  </a>
  <a href="<%= funders_user_path(@user) %>">
    <strong id="funders" class="stat">
      <%= @user.funders.count %>
    </strong>
    funders
  </a>
</div>
</section>



<%= link_to campaign.coop_name, campaign %>

