<div>
<%= image_tag @campaign.image.url(:large) %>
<h3><%= @campaign.short_description%></h3>
<h1><%= @campaign.coop_name %></h1>
<h2><%= @campaign.coop_location %></h2>
<p><%= @campaign.long_description %></p>
<p><%= @campaign.video_link %></p>
<p><%= @campaign.category %></p>
</div>

