<% provide(:title, @campaign.coop_name) %>
<br><br>

<div>
    


		<%= link_to "Edit Your Campaign", edit_campaign_path(@campaign) %><br>

		<%= link_to "The Preview of This Campaign", preview_path(@campaign) %><br>


      	 <section>
	        <h1><%= @campaign.coop_name %></h1>
			<h2><%= @campaign.coop_location %></h2>

			<% if @campaign.video_link.present? %>
			<iframe class="youtube-player" type="text/html" width="640" height="385" src="http://www.youtube.com/embed/<%= @campaign.video_link %>" frameborder="0">
			</iframe>	
			<% else %>	
			<%= image_tag @campaign.image.url(:large) %>
			<% end %>
			<h2> Funding Request: <%= @campaign.request %> </h2>
			<h3><%= @campaign.short_description%></h3>
			<p><%= @campaign.long_description %></p>
			<p><%= @campaign.category %></p>

         </section>

        <section>
      		<%= render 'shared/stats' %>
  		</section>


    	<section>	

    		<h3> Click Here to<%= link_to " Add Gifts", addgifts_path %> </h3><br>
  				
    	</section>

      </div>
     		<div>   
       		<h2> Fund this Campaign: </h2><br>
  			<div>
   				<h3>gifts (<%= @user.gifts.count %>)</h3>
  				<ol>
  					<%= render @gifts %>
  				</ol>
    			</div>
  		</div>



