<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Up and Away", root_path, id: "logo" %>
      <h3> community based funding for cooperatives </h3>
      <nav>
        <ul class="nav pull-right">
          <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                About <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "about this website", aboutwebsite_path %></li>
                <li><%= link_to "what are cooperatives?", aboutcoops_path %></li>
                <li><%= link_to "help!", '#' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <li><%= link_to "Start a Campaign", startintro_path %></li>
          <li><%= link_to "Find a Campaign", campaigns_path %></li>

          <% if signed_in? %>
            <% if current_user.admin? %>
              <li> <%= link_to "All Users", users_path %></li>
            <% end %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Log in", signin_path %></li>
            <li><%= link_to "Sign up", signup_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>