<header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "upandup.coop", root_path, id: "logo" %>
          <h3>community-based funding for cooperatives and collectives</h3>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "about", about_path %></li>
              <li><%= link_to "start a project", start_path %></li>
              <li><%= link_to "find a project", root_path %></li>
              <li><%= link_to "sign in", '#' %></li>
              <li><%= link_to "sign up", signup_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>